<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="Diana_arm_transmission" params="prefix hw_interface:=hardware_interface/PositionJointInterface">

    <transmission name="${prefix}joint1_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint1">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint1_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint2_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint2">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint2_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint3_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint3">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint3_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint4_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint4">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint4_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint5_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint5">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint5_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint6_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint6">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint6_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

    <transmission name="${prefix}joint7_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${prefix}joint7">
        <hardwareInterface>${hw_interface}</hardwareInterface>
      </joint>
      <actuator name="${prefix}joint7_motor">
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>

  </xacro:macro>

</robot>
